/**
 * Define default css variables for piano classes.
 */
:root {
	// Logged out.
	--colsun--hide-for-logged-out: none;
	--colsun--show-for-logged-out: inherit;

	// Logged in.
	--colsun--hide-for-logged-in: none;
	--colsun--show-for-logged-in: inherit;

	// Has a resource.
	--colsun--hide-for-members: inherit;
	--colsun--show-for-members: none;

	// Basic resrouce.
	--colsun--hide-for-basic-members: inherit;
	--colsun--show-for-basic-members: none;

	// Basic plus resrouce.
	--colsun--hide-for-basic-plus-members: inherit;
	--colsun--show-for-basic-plus-members: none;

	// Premium resrouce.
	--colsun--hide-for-premium-members: inherit;
	--colsun--show-for-premium-members: none;

	// Champion resrouce.
	--colsun--hide-for-champion-members: inherit;
	--colsun--show-for-champion-members: none;

	// UI.
	--colsun--become-a-member-display: block;
	--colsun--login-link-display: inherit;

	--colsun--my-account-link-display: none;
	--colsun--logout-link-display: none;
}

// Logged out.
.colsun-hide-for-logged-out { display: var( --colsun--hide-for-logged-out ) ! important; }
.colsun-show-for-logged-out { display: var( --colsun--show-for-logged-out ) ! important; }

// Logged in.
.colsun-hide-for-logged-in { display: var( --colsun--hide-for-logged-in ) ! important; }
.colsun-show-for-logged-in { display: var( --colsun--show-for-logged-in ) ! important; }

// Member.
.colsun-hide-for-members { display: var( --colsun--hide-for-members ) ! important; }
.colsun-show-for-members { display: var( --colsun--show-for-members ) ! important; }

// Basic.
.colsun-hide-for-basic-members { display: var( --colsun--hide-for-basic-members ) ! important; }
.colsun-show-for-basic-members { display: var( --colsun--show-for-basic-members ) ! important; }

// Basic plus.
.colsun-hide-for-basic-plus-members { display: var( --colsun--hide-for-basic-plus-members ) ! important; }
.colsun-show-for-basic-plus-members { display: var( --colsun--show-for-basic-plus-members ) ! important; }

// Premium.
.colsun-hide-for-premium-members { display: var( --colsun--hide-for-premium-members ) ! important; }
.colsun-show-for-premium-members { display: var( --colsun--show-for-premium-members ) ! important; }

// Champion.
.colsun-hide-for-champion-members { display: var( --colsun--hide-for-champion-members ) ! important; }
.colsun-show-for-champion-members { display: var( --colsun--show-for-champion-members ) ! important; }

// UI.
.colsun-become-a-member { display: var( --colsun--become-a-member-display ) ! important; }
.colsun-login-link { display: var( --colsun--login-link-display ) ! important; }

.colsun-my-account { display: var( --colsun--my-account-link-display ) ! important; }
.colsun-logout-link { display: var( --colsun--logout-link-display ) ! important; }
